<!-- Header component, containing logo, search bar and internationalization dropdown -->
<app-header></app-header>

<!-- Categories component for left-hand sidebar, containing category select/filtering options -->
<app-categories></app-categories>

<!-- flex container for sidebar and main content -->
<main>
  
  <!-- Displays either Home component or Create Listing component when navigated to -->
  <router-outlet></router-outlet>
  
</main>

<!-- Footer component with "Back to top..." option, possibly other links and copyright information -->
<app-footer></app-footer>
